@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    color-scheme: light;

    --color-base-100: #ececec;
        --color-base-200: #d3d1d1;
        --color-base-300: #b8b8b8;
    
        --color-primary: #e85a0c;
        --color-primary-content: #ffffff;
    
        --color-accent: #d97706;
    
        --color-neutral: #f2f2f2;
        --color-neutral-content: #1f1f1f;

}

@plugin "daisyui/theme" {
    name: "dark";
    color-scheme: dark;

    --color-base-100: #1d1614;
        --color-base-200: #130e0d;
        --color-base-300: #5f230d;
    
        --color-primary: #ff4500;
        --color-primary-content: #ffffff;
    
        --color-accent: #f59e0b;
    
        --color-neutral: #2a231d;
        --color-neutral-content: #ffffff;
}

.active{
    
    /* color: #130e0d; */
    color: #b8b8b8;
    background-color: #5f230d;
    box-shadow: 0 25px 30px -9px rgba(0, 0, 0, 0.5),
            0 10px 10px -5px rgba(0, 0, 0, 0.5);
}